%h3
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = price_format(product)
%p
  %b Category:
  = link_to product.category.name, category_path(category)
%p
  %b Rating:
  = product.average_rating


.container-fluid
  .col-md-9.col-md-offset-3
    = render 'reviews/form'
%p

= render 'reviews/review'

= link_to 'Edit', edit_category_product_path(category.id, product.id)
\|
= link_to 'Back', category_products_path